.guideText {
  margin-top: 1vw;
  margin-left: 1vw;
  font-family: "neodgm", sans-serif;
  font-size: 1.3vw;
}

.form {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin-top: 1vh;
  margin-left: 1.5vw;
}
