@value (
  mainWhite,
  mainBrown,
  mainLightBrown,
  defaultBorderWidth,
  defaultBorderRadius
) from "./variables.css";

.container {
  width: 100%;
  padding: 1vh 0.2vh;
  border-radius: defaultBorderRadius;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: mainLightBrown;
  font-family: "neodgm", sans-serif;
  color: mainWhite;
}

.profileBorder {
  width: 94%;
  border: defaultBorderWidth solid mainWhite;
  border-radius: defaultBorderRadius;
  background-color: mainBrown;
}

.informationContainer {
  display: flex;
}

.profilePhoto {
  width: 60%;
  height: 60%;
  border-radius: defaultBorderRadius;
  margin-left: 2%;
  margin-top: 2%;
}

.descriptionList {
  width: 50%;
  height: 100%;
  margin-top: 3%;
  margin-bottom: 10%;
  margin-left: 3%;
}

.descriptionTitle {
  font-size: 2.2vh;
}

.descriptionContent {
  font-size: 1.6vh;
  margin: 3% 0 5% 3.5%;
}

.content {
  width: 55%;
  height: 38%;
  position: absolute;
  left: 6%;
  bottom: 5%;
  overflow: auto;
  font-size: 2vh;
  text-align: justify;
  line-height: 130%;
  white-space: pre-wrap;
}
