@value (
  defaultBorderRadius,
  defaultBorderWidth,
  mainBlack
) from "./variables.css";

.inputButton {
  width: 10vw;
  padding: 0.7vw;
  margin-top: 1vw;
  border: defaultBorderWidth solid mainBlack;
  border-radius: defaultBorderRadius;
  background-color: white;
  box-shadow: 0.3vw 0.3vw 0.2vw 0 black;
  font-family: "neodgm", sans-serif;
  font-size: 1vw;
}

.inputButton:active {
  border-width: 0.4vw 0.1vw 0.1vw 0.4vw;
  border-color: mainBlack;
  box-shadow: none;
}
