@value (
  defaultBorderRadius,
  defaultBorderWidth,
  mainBlack
) from "./variables.css";

.inputButton {
  padding: 1vh;
  border: defaultBorderWidth solid mainBlack;
  border-radius: defaultBorderRadius;
  margin-top: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.3vw 0.3vw 0.2vw 0 black;
  background-color: white;
  font-family: "neodgm", sans-serif;
  font-size: 1vw;
}

.inputButton:active {
  border-width: 0.4vw 0.1vw 0.1vw 0.4vw;
  border-color: mainBlack;
  box-shadow: none;

}
