@value (
  defaultBorderRadius,
  defaultBorderWidth
) from "./shapes.css";


.container {
  margin-top: 1vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.title {
  font-family: "neodgm", sans-serif;
  font-size: 1.3vw;
}

.textInput {
  margin-left: 2vw;
  padding: 0.7vw 2vw;
  font-size: 1.2vw;
  border: defaultBorderWidth solid;
  border-radius: defaultBorderRadius;
}
