@value mainWhite, defaultBorderRadius from "./variables.css";

.container {
  height: 100vh;
  padding: 2vh;
  background-image: url("../../assets/images/sky-background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
}

.chatContainer {
  width: 28vw;
  height: 90vh;
  margin-top: 6vh;
  border-radius: defaultBorderRadius;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: mainWhite;
}

.conversationBorder {
  width: 90%;
  height: 85%;
  border-radius: defaultBorderRadius;
  background-color: bisque;
}

.inputContainer {
  width: 100%;
  margin-top: 3%;
  margin-bottom: 5%;
  margin-left: 1%;
  display: flex;
  align-items: center;
}

.main {
  width: 100vh;
  margin-left: 2vw;
  position: relative;
}

.header {
  width: 70vh;
  margin-top: 1vh;
  margin-left: 1vh;
  display: flex;
  align-items: center;
  position: absolute;
  left: 12.8vh;
  z-index: 2;
}

.timeBoardHeading {
  font-size: 1.1vh;
  position: absolute;
  top: 0;
  left: 5%;
}

.timeBoardText {
 font-size: 3vh;
 position: absolute;
 top: 40%;
 left: 25%;
}

.navigation {
  width: 49vh;
  margin-left: 3vh;
  display: flex;
  justify-content: space-evenly;
}

.anchor:hover {
  cursor: pointer;
}

.anchor:active {
  opacity: 0.7;
}

.anchor:link {
  color: mainWhite;
  text-decoration: none;
}
.anchor:visited {
  color: mainWhite;
}
.canvas {
  width: 91vh;
  height: 84vh;
  margin-left: 3vh;
  border-radius: defaultBorderRadius;
  background-color: rgba(240, 240, 240, 0.5);
  position: absolute;
  bottom: 8vh;
  z-index: 1;
}

.grassGroundImage {
  height: 96vh;
  border-radius: 0.7vw;
  position: absolute;
}
