.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popUp {
  max-width: 50%;
  padding: 10%;
  margin-top: 50%;
  position: absolute;
  overflow-wrap: break-word;
}

.CloseButton {
  position: absolute;
  top: 1%;
  right: 3%;
}

.inputsContainer {
  margin-top: 1vh;
  display: flex;
  justify-content: space-between;
}

.writingButton {
  font-size: 1.5vh;
  width: 8vh;
}

.anchor {
  font-size: 2vh;
  color: mainWhite;
}

.anchor:link {
  color: mainWhite;
  text-decoration: none;
}

.anchor:visited {
  color: mainWhite;
}

.search:focus {
  outline: none;
}

.postsContainer {
  height: 65vh;
  margin-top: 1vh;
  overflow: auto;
}
