
.CloseButtonContainer {
  position: absolute;
  top: 2.5vh;
  right: 3vh;
}

.inputsContainer {
  display: flex;
  justify-content: space-between;
}

.postsContainer {
  height: 65vh;
  overflow: auto;
}
